<p>Slack channel for reporting and alerts: <a href=" https://socialedgeme.slack.com/archives/CN52DFDK6/"><strong>#ext_api_mon</strong></a>
</p>
<table data-layout="default">
    <colgroup>
        <col style="width: 680.0px;"/>
    </colgroup>
    <tbody>
    <tr>
        <td data-highlight-colour="#abf5d1"><p style="text-align: center;"><strong>Instagram (Business Discovery API
            &amp; Graph API) </strong><a
                href="https://jenkins.socialedge.me/view/Monitoring/job/IG-API-Business-Discovery-And-Grpah-Api/allure/"><strong>&gt;&gt;&gt;</strong></a>
        </p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#abf5d1"><p style="text-align: center;"><strong>Instagram (Business Discovery API
            Call Quota) </strong><a
                href="https://jenkins.socialedge.me/view/Monitoring/job/IG-API-Business-Discovery-And-Grpah-Api/allure/"><strong>&gt;&gt;&gt;</strong></a>
        </p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Facebook API</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Facebook API (Call Quota):</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#ffbdad"><p style="text-align: center;"><strong>Twitter API</strong></p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Twitter API (Call Quota)</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Twitch API</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Twitch API (Call Quota)</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Youtube API</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Youtube API (Call Quota)</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Pinterest API</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Pinterest API (Call Quota)</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Hypelytix</p></td>
    </tr>
    <tr>
        <td data-highlight-colour="#f4f5f7"><p style="text-align: center;">Hypelytix (Call Quota)</p></td>
    </tr>
    </tbody>
</table><p style="text-align: center;"/>